header{
    width: 100%;
    position: inherit;
}

header button{
    padding: 10px 15px;
    border: none;
    background-color: gray;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

header button:nth-child(1){
    background-color: green;
}

#product-section{
    padding: 20px;
}

button{
    padding: 6px 10px;
}

.errorMsg{
    color: red;
    font-size: 14px;
}

#add-product-section{
    display: none;
}

#add-product-section div:nth-child(1){
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

#add-product-section div:nth-child(1) div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#add-product-section img{
    width: 300px;
    margin-top: 5px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px;
}


#page-section{
    display: none;
    padding: 10px;
}

@media(max-width:700px){
    #add-product-section img{
        width: 50%;
    }
}